<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Des livres pour tous</title>
    <link rel="stylesheet" href="css/main.css">
    <script src="js/airtable.browser.js"></script>
    <script src="js/server.js"></script>
    <script></script>
</head>
<body>
    <header></header>
    <h1>hello word</h1>
    <p>test</p>
    <main>
        <div class="books__container">

        </div>
    </main>
    <footer></footer>
</body>
</html>